# Asegurar que Apache no bloquee la carpeta _next
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Si el archivo no existe, intentar cargar index.html (para SPA)
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.html [L]
</IfModule>

# Permitir el acceso a directorios ocultos (como _next)
Options -Indexes
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>
